*{
	padding:0;
	margin:0;
}
.content{
	height:auto;
	overflow: hidden;
	/*padding:0 15px;*/
	box-sizing:border-box;
	margin-left:auto;
	margin-right:auto;
}
.content > .row{
	/*width: 100%;*/
	height:auto;
	overflow: hidden;
	/*margin-top: -15px;*/
	/*margin-top: -15px;*/
    /*margin-left: -10px;
    margin-right: -10px;*/
	box-sizing:border-box;
}
@media screen and (min-width: 768px){
    .content > .row >.col-lg-1{
    	width: 8.33333333%;
    	height: auto;
    	float: left;
    	/*padding:15px 15px;*/
        /*margin:0 10px;*/
    	box-sizing:border-box;
    }
    .content > .row >.col-lg-2{
    	width: 16.6666666666%;
    	height: auto;
    	float: left;
    	/*padding:15px 15px;*/
        /*margin:0 10px;*/
    	box-sizing:border-box;
    }
    .content > .row >.col-lg-3{
    	width: 25%;
    	height: auto;
    	float: left;
        /*margin:0 10px;*/
    	/*padding:15px 15px;*/
    	/*box-sizing:border-box;*/
    }
    .content > .row >.col-lg-4{
    	width: 33.3333333333%;
    	height: auto;
    	float: left;
        /*margin:0 10px;*/
    	/*padding:15px 15px;*/
    	/*box-sizing:border-box;*/
    }
    .content > .row >.col-lg-5{
    	width: 41.6666666666%;
    	height: auto;
    	float: left;
        /*margin:0 10px;*/
    	/*padding:15px 15px;*/
    	box-sizing:border-box;
    }
    .content > .row >.col-lg-6{
    	width: 50%;
    	height: auto;
    	float: left;
    	/*padding:15px 15px;*/
        /*margin:0 10px;*/
    	box-sizing:border-box;
    }
    .content > .row >.col-lg-7{
    	width: 58.3333333333%;
    	height: auto;
    	float: left;
    	/*padding:15px 15px;*/
        /*margin:0 10px;*/
    	box-sizing:border-box;
    }
    .content > .row >.col-lg-8{
    	width: 66.666666666666%;
    	height: auto;
    	float: left;
        /*margin:0 10px;*/
    	/*padding:15px 15px;*/
    	box-sizing:border-box;
    }
    .content > .row >.col-lg-9{
    	width: 75%;
    	height: auto;
    	float: left;
        /*margin:0 10px;*/
    	/*padding:15px 15px;*/
    	box-sizing:border-box;
    }
    .content > .row >.col-lg-10{
    	width: 83.3333333333%;
    	height: auto;
    	float: left;
        /*margin:0 10px;*/
    	/*padding:15px 15px;*/
    	box-sizing:border-box;
    }
    .content > .row >.col-lg-11{
    	width: 91.66666666666%;
    	height: auto;
    	float: left;
        /*margin:0 10px;*/
    	/*padding:15px 15px;*/
    	box-sizing:border-box;
    }
    .content > .row >.col-lg-12{
    	width: 100%;
    	height: auto;
    	float: left;
        /*margin:0 10px;*/
    	/*padding:15px 15px;*/
    	box-sizing:border-box;
    }
}
/*@media screen and (min-width: 992px) and (max-width: 1200px){
    .content > .row >.col-md-1{
    	width: 8.33333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-2{
    	width: 16.6666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-3{
    	width: 25%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-4{
    	width: 33.3333333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-5{
    	width: 41.6666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-6{
    	width: 50%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-7{
    	width: 58.3333333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-8{
    	width: 66.666666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-9{
    	width: 75%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-10{
    	width: 83.3333333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-11{
    	width: 91.66666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-md-12{
    	width: 100%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .content > .row >.col-sm-1{
    	width: 8.33333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-2{
    	width: 16.6666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-3{
    	width: 25%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-4{
    	width: 33.3333333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-5{
    	width: 41.6666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-6{
    	width: 50%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-7{
    	width: 58.3333333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-8{
    	width: 66.666666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-9{
    	width: 75%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-10{
    	width: 83.3333333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-11{
    	width: 91.66666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-sm-12{
    	width: 100%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
}*/
@media screen and (max-width: 400px){
    .content > .row >.col-xs-1{
    	width: 8.33333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-2{
    	width: 16.6666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-3{
    	width: 25%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-4{
    	width: 33.3333333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-5{
    	width: 41.6666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-6{
    	width: 50%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-7{
    	width: 58.3333333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-8{
    	width: 66.666666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-9{
    	width: 75%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-10{
    	width: 83.3333333333%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-11{
    	width: 91.66666666666%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
    .content > .row >.col-xs-12{
    	width: 100%;
    	height: auto;
    	float: left;
    	padding:0 15px;
    	box-sizing:border-box;
    }
}